<link href="../../static/styles/main.css" rel="stylesheet" />
{% extends "main.html" %}
{% block styles %}
    <style>
        img {
            width:150px;
        }
        .intro {
            margin-left: 100px;
            
        }
        .team {
            margin-left:250px;
            margin-right:450px;
            margin-bottom:20px;
        }
        .short{
            margin-left: 120px;
            margin-right: 500px;
            border-top: 1px solid rgb(255, 255, 255);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="intro">
        <h2 class="ch">工作團隊</h2>
    </div>
    <hr class="short">
    <div class="team">
        <img src="../../static/images/team4-01.jpg">
        <h2 class="ch" style="float: right">組長 徐子越<br>負責項目:</h2> 
    </div>
    <div class="team">
        <img src="../../static/images/team4-02.jpg">
        <h2 class="ch" style="float: right">組員 陳惠龍<br>負責項目:</h2> 
    </div>
    <div class="team">
        <img src="../../static/images/team4-03.jpg">
        <h2 class="ch" style="float: right">組員 毛鼎言<br>負責項目:</h2> 
    </div>
    <div class="team">
        <img src="../../static/images/team4-04.jpg">
        <h2 class="ch" style="float: right">組員 劉安昇<br>負責項目:</h2> 
    </div>
    <div class="team">
        <img src="../../static/images/team4-05.jpg">
        <h2 class="ch" style="float: right">組員 許哲偉<br>負責項目:</h2> 
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}