{% extends "main.html" %}
{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    body {
      color:white !important;
    }
    .thumb{
        width:100px;
    }
</style>
{% endblock %}
{% block content %}
   <div class="row">
     <div class="col-md-9">
        <table id="todolist" class="table table-bordered">
          <thead>
             <tr><th>ID</th><th>直播主編號</th><th>性別</th><th>姓名</th><th>說明</th><th>管理</th><th>照片</th></tr>
          </thead>
          <tbody>

          </tbody>
        </table>
     </div>
     <div class="col-md-3">
      <form >
        <div class="form-group">
          <label for="InputMID">直播主編號</label>
          <input type="text" class="form-control" id="InputMID" placeholder="直播主編號">         
        </div>
        <div class="form-group">
          <label for="InputGEN">性別</label>
          <input type="text" class="form-control" id="InputGEN" placeholder="性別">
        </div>  
        <div class="form-group">
          <label for="InputNAM">姓名</label>
          <input type="text" class="form-control" id="InputNAM" placeholder="姓名">         
        </div>
        <div class="form-group">
          <label for="InputDES">說明</label>
          <input type="text" class="form-control" id="InputDES" placeholder="說明">
          <button type="button" id="buttonSubmit" class="btn btn-warning">新增直播主</button>
        </div> 
        </form><br>
      <hr>
     <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="InputCID">直播主ID</label>
        <input type="text" class="form-control" id="InputCID" placeholder="直播主ID" name="productcid">         
      </div>
      <div class="form-group">
        <label for="InputCimg">照片</label>
        <input type="file" accept= "image/*" class="form-control" id="InputCimg" placeholder="照片" name="productcimg"  />
        <button type="submit" id="buttonChange" class="btn btn-warning">照片上傳</button>
      </div>
     </form>
     <hr><hr>
      <div class="form-group">
        <a href="/donate/logout/"><button type="button" id="buttonLO" class="btn btn-danger">管理員登出</button></a>
      </div>
     </div>
    </div>
{% endblock%}

{% block scripts%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
<script src="/static/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function(){

    //讀取所有資料
    function loadTodo(){
      $.getJSON('/api/product/',function(datas){
          // console.log(datas)
          var tb =  $('#todolist>tbody');
          var docFrag = $(document.createDocumentFragment());
          $.each(datas,function(idx,product){
              //a > index
              //b > {}
              var cell0 = $('<td></td>').text(product.productid);
              var cell1 = $('<td></td>').text(product.modelnumber).attr('contenteditable','true');
              var cell2 = $('<td></td>').text(product.categoryid).attr('contenteditable','true');
              var cell3 = $('<td></td>').text(product.modelname).attr('contenteditable','true');
              var cell4 = $('<td></td>').text(product.description).attr('contenteditable','true');
              var cell5 = $('<td></td>').html('<button class="btn btn-danger"><i class="fas fa-user-times"></i>></button><button class="btn btn-info"><i class="fas fa-edit"></i></button>');
              var cell6 = $('<td></td>').html('<img class="img-thumbnail thumb" src="/media/'+product.productimage+'"/><br>'+product.productimage);
              var row = $('<tr></tr>').append([cell0,cell1,cell2,cell3,cell4,cell5,cell6]);
              //<tbody><tr>
              docFrag.append(row);
          })
          tb.html(docFrag);
      })
    }
    loadTodo();

    //jquery 新增資料
    $('#buttonSubmit').click(function(){
    if ( $('#InputMID').val() && $('#InputGEN').val() && $('#InputNAM').val() && $('#InputDES').val()){
        var datas = {
          "modelnumber": $('#InputMID').val(),
          "categoryid": $('#InputGEN').val(),
          "modelname": $('#InputNAM').val(),
          "description": $('#InputDES').val(),
          "productimage": "superstar.gif"
        };
        $.post('/api/product/',datas,function(data){
          $('#InputMID').val('');
          $('#InputGEN').val('');
          $('#InputNAM').val('');
          $('#InputDES').val('');
          loadTodo();
          })
      }
      else {
          alert("欄位未填寫完全");
      }
    });


    $('#todolist>tbody').on('click','button:nth-child(1)',function(){
         var id = $(this).parents('tr').find('td:nth-child(1)').text();
        //刪除資料
            $.ajax({
                url:'/api/product/' + id + '/',
                type:'DELETE'
            }).done(function(data){
              loadTodo();
            })

    });

        //修改資料
    $('#todolist>tbody').on('click','button:nth-child(2)',function(){
         var productid = $(this).parents('tr').find('td:nth-child(1)').text();
         var modelnumber = $(this).parents('tr').find('td:nth-child(2)').text();
         var categoryid = $(this).parents('tr').find('td:nth-child(3)').text();
         var modelname = $(this).parents('tr').find('td:nth-child(4)').text();
         var description = $(this).parents('tr').find('td:nth-child(5)').text();
         var productimage = $(this).parents('tr').find('td:nth-child(7)').text();
         if ( modelnumber && categoryid && modelname && description){
            var datas = {
                "modelnumber": modelnumber,
                "categoryid": categoryid,
                "modelname": modelname,
                "description": description,
                "productimage": productimage
            };

            $.ajax({
                url:'/api/product/' + productid + '/',
                type:'PUT',
                data:datas
            }).done(function(data){
              loadTodo();
            });
          }
        else {
          loadTodo();
          alert("欄位未填寫完全");
        }
    });
  })

</script>


{% endblock%}