
        /* h1{
            position: fixed;
            font-size: 80px !important;
            left: 25%;
            top:180px;
        } */
        .btn{           
            white-space:normal !important;
            word-wrap:break-word;
            opacity: 0.9;
            position: fixed;
            width: 200px;
            height: 200px;
            border:3px solid;
            font-weight: 1000;
            border-radius: 200px;
            color: white;
        }
        .center_div{
            /* white-space:normal !important;
            word-wrap:break-word; */
            opacity: 0.9;
            position: fixed;
            width: 180px;
            height: 180px;
            border:3px solid;
            font-size: 18px;
            font-weight: 1000;
            border-radius: 200px;
            color: rgb(56, 56, 56);
            border-color: white;
            text-align: center;
            padding-top: 25px;
            left: 42.5%;
            top:43%;
            cursor: default;
        }
        .angerbtn{
            background: rgba(212, 72, 72, 0.95);
            left: 30.5%;
            top:35%;
        }
        .happybtn{
            background: rgba(72, 212, 72, 0.95);
            left: 42%;
            top:16%;
        }
        .revelbtn{
            background: rgba(212, 203, 72, 0.95);
            left: 53.5%;
            top:35%;
        }
        .lonelybtn{
            background: rgba(39, 98, 194, 0.95);
            left: 35%;
            top:63%;
        }
        .sadbtn{
            background: rgba(73, 73, 73, 0.95);
            left: 49%;
            top: 63%;
        }
        
        div #player{
            /* margin-left: 23%; */
            margin: 20%;
            margin-top: 2.5%;
            
        }
        .canSee{
            display: inline;
        }
        .musicOnRevel, .musicOnHappy, .musicOnAnger, .musicOnLonely, .musicOnSad{
            width: 126px;
            height: 90px;
            position: fixed;
            opacity: 0.6;
            padding-top:20px;
        }
        .musicOnRevel{
            left: 5%;
            top: 13%;
            font-size: 14px;
        }
        .musicOnHappy{
            left: 5%;
            top: 30%;
            padding-top:5px;
        }    
        .musicOnAnger{
            left: 5%;
            top: 47%;
        }
        .musicOnLonely{
            left: 5%;
            top: 64%;
        }
        .musicOnSad{
            left: 5%;
            top: 81%;
        }
        .musicOnCenter{
            opacity: 0;
        }
        .invisible{
            display: none;
        }
        .mood{
            font-size: 35px;
        }
        .moodtxt{
            font-size: 18px;
        }
        .smMoodTxt{
            font-size: 14px;
        }
        /* 以下是別人的 */
        #songdata{
            position: fixed;
            top: 22%;
            right: 5%;
            width: 200px;
            height: 300px;
            overflow-x: hidden;
            overflow-y: scroll;
            /* z-index: 1; */
        }
        div.xxx{
            width: 195px;
            height: 50px; 
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
        }
        #bgvideo{
            position: fixed ;
            margin: auto;
            right: 0;
            bottom: 0;
            min-width: 100%; 
            min-height: 100%;
            z-index: -1;
            margin: 0px;
            
        }
        .main_content {
            font-family: 'Ubuntu Mono', '微軟正黑體', monospace;
            background: none;
            width:100%;
            position:absolute;
            top:90px;
            bottom:55px;
            left:0px;
            right:0px;
            overflow:hidden;
            margin-left:0px;
            margin-right: 0px;
            border-radius: 10px;
            padding-top:0px;
        }
        body{
            background-image: none;
            
        }
        #worldhotsong{
            position: fixed;
            top: 62%;
            right: 5%;
            width: 200px;
            height: 300px;
            overflow-x: hidden;
            overflow-y: scroll;
            /* z-index: 1; */
        }
        span.round-tabs{
            width: 70px;
            height: 70px;
            line-height: 70px;
            display: inline-block;
            border-radius: 100px;
            background: white;
            z-index: 2;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 25px;
        }
