<link href="../../static/styles/main.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% extends "main.html" %}
{% block styles %}
<style>
  body{
    background-image: url("../../static/images/album.jpg")
  }
  header {
    width:100%;
    height: 10% ;
    margin:auto;
    text-decoration:none;
    color: white;
    background-color: rgba(0, 0, 0,0.6) !important;
  }
  .main_content {
    background:rgba(0, 0, 0,0.6);
  }
  .form{
    font-family: 'Ubuntu Mono', '微軟正黑體', monospace;
    font-weight: 500;
    /* width:70%; */
    margin: auto;
  }
  .main{
    padding-top: 80px;
    width: 400px;
    margin: auto;
  }
  #sdk{
    width:40%;
    text-align: center;
    line-height: 80%;
    font-size: 40px;
    margin: auto;
    color:rgb(52, 206, 159);
  }
  #sdk_button{
    width: 100% !important;
  }
  .login-or {
  position: relative;
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: rgb(32, 66, 92);
  width: 50px;
  text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  h1{
      position: fixed;
      font-size: 80px !important;
      left: 25%;
      top:180px;
  }
  a.pull-right{
    color: rgb(52, 206, 159);
    border-radius: 30px !important;
    font-size: 15px !important;
  }
  #link{
    border-radius: 30px;
    font-size: 22px;
    width: 100%
  }
  #link:hover{
    transition: all 0.3s linear;
    border-radius: 10px !important;
  }
  .remember{
    font-size: 18px;
  }
  button#btn{
    background-color: rgb(52, 206, 159);
    border-color: rgb(52, 206, 159);
    border-radius: 30px !important;
    width: 100px;
    margin: auto;
    font-size: 20px !important;
    font-weight: 700;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 3px;
  }
  button#btn:hover{
    background-color: rgb(43, 160, 125);
    border-color: rgb(43, 160, 125);
    transition: all 0.3s linear;
    border-radius: 10px !important;
  }
  .form-control{
    background-color: white;
  }
  </style>
{% endblock %}
{% block content %}
<div class="form">
  <div class="main">
    <!-- <h3>Please Log In, or <a href="#">Sign Up</a></h3> -->
    <div class="row" id="sdk">
      會員登入
      <!-- <div class="col-xs-6 col-sm-6 col-md-6" id="sdk_button">
        <a href="#" class="btn btn-lg btn-primary btn-block" id="link"><i class="fab fa-facebook"></i>  facebook</a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6" id="sdk_button">
        <a href="#" class="btn btn-lg btn-success btn-block" id="link"><i class="fab fa-google"></i>  google</a>
      </div> -->
    </div>
    <div class="login-or">
      <hr class="hr-or">
      <!-- <span class="span-or">or</span> -->
    </div>

    <form role="form" method="POST">
            {% csrf_token %}
      <div class="form-group">
        <label for="inputEmail">您的帳號</label>
        <input type="text" class="form-control" id="inputEmail" name="email">
      </div>
      <div class="form-group">
        <label for="inputPassword">您的密碼</label>
        <input type="password" class="form-control" id="inputPassword" name="password">
        <a class="pull-right" href="#">忘記密碼了嗎?</a>
      </div>
      <div class="btn">
        <label class="remember"><input type="checkbox" name="remember" value="True">Remember me</label>
      </div>
      <!--name=value remember=True -->
      <button type="submit" id="btn" class="btn btn btn-primary">登入</button>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
<!-- <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{your-app-id}',
        cookie     : true,
        xfbml      : true,
        version    : '{api-version}'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>複製代碼 -->
  
{% endblock %}