<link href="../../static/styles/main.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% extends "main.html" %}
{% block styles %}
<style>
  body{
    background-image: url("../../static/images/album.jpg");
    color:white !important;
  }
  .thumb{
    width:100px;
  }
  header {
    width:100%;
    height: 10% ;
    margin:auto;
    text-decoration:none;
    color: white;
    background-color: rgba(22, 22, 22,0.6) !important;
  }
  .main_content {
    background:rgba(22, 22, 22,0.6);
  }
  .form{
    font-family: 'Ubuntu Mono', '微軟正黑體', monospace;
    font-weight: 500;
    /* width:70%; */
    margin: auto;
  }
  .main{
    padding-top: 80px;
    width: 400px;
    margin: auto;
  }
  #sdk{
    width:40%;
    text-align: center;
    line-height: 80%;
    font-size: 40px;
    margin: auto;
    color:rgb(52, 206, 159);
  }
  #sdk_button{
    width: 100% !important;
  }
  .login-or {
  position: relative;
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: rgb(32, 66, 92);
  width: 50px;
  text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  h1{
      position: fixed;
      font-size: 80px !important;
      left: 25%;
      top:180px;
  }
  a.pull-right{
    color: rgb(52, 206, 159);
    border-radius: 30px !important;
    font-size: 15px !important;
  }
  #link{
    border-radius: 30px;
    font-size: 22px;
    width: 100%
  }
  #link:hover{
    transition: all 0.3s linear;
    border-radius: 10px !important;
  }
  .remember{
    font-size: 18px;
  }
  button#btn{
    background-color: rgb(52, 206, 159);
    border-color: rgb(52, 206, 159);
    border-radius: 30px !important;
    width: 100px;
    margin: auto;
    font-size: 20px !important;
    font-weight: 700;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 3px;
  }
  button#btn:hover{
    background-color: rgb(43, 160, 125);
    border-color: rgb(43, 160, 125);
    transition: all 0.3s linear;
    border-radius: 10px !important;
  }
  .form-control{
    background-color: white;
  }
  </style>
{% endblock %}
{% block content %}
<div class="form">
  <div class="main">
    <div id="sdk">
      會員登入
    </div>
    <div class="login-or">
      <hr class="hr-or">
    </div>

    <!-- <div class="form-group">
      <form role="form" method="POST">
              {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" id="inputLogin" placeholder="會員帳號" name="login">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" placeholder="會員密碼" name="password">
        </div>
        <div class="form-group">
          <input type="text" name="captcha" id="captcha" placeholder="驗證碼" class="form-control" >
          <img id="img_captcha" src="/donate/captcha"><button id="btn_captcha" type="button"><i class="fas fa-redo-alt"></i>
          </button>
        </div>
        <div class="btn">
          <label class="remember"><input type="checkbox" name="remember" value="True">Remember me</label>
        </div>
        {% if request.COOKIES.nameadm %}
        <label>管理員已登入</label><br>
        <hr>
        <button type="button" id="buttonLO" class="btn btn-warning"><a href="/donate/siteadm/">直播管理區</a></button>
        <button type="button" id="buttonLO" class="btn btn-warning"><a href="/donate/logout/">管理員登出</a></button>
        {% else %}
        <button type="submit" id="btn" class="btn btn btn-primary">會員登入</button>
        {% endif %}
      </form>
    </div>
  </div> -->

    <form role="form" method="POST">
            {% csrf_token %}
      <div class="form-group">
        <label for="inputEmail">您的帳號</label>
        <input type="text" class="form-control" id="inputEmail" name="email">
      </div>
      <div class="form-group">
        <label for="inputPassword">您的密碼</label>
        <input type="password" class="form-control" id="inputPassword" name="password">
        <a class="pull-right" href="#">忘記密碼了嗎?</a>
      </div>
      <div class="btn">
        <label class="remember"><input type="checkbox" name="remember" value="True">Remember me</label>
      </div>
      <button type="submit" id="btn" class="btn btn btn-primary">登入</button>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
<script src="/static/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function(){
  //加驗證碼
  $('#btn_captcha').click(function () {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/donate/captcha/");
    xhr.responseType = "arraybuffer";
    xhr.addEventListener("load",function(event) {
      var blob = new Blob([xhr.response], {type: "image/png"});
      var imageUrl = window.URL.createObjectURL(blob);   
      $('#img_captcha').attr('src',imageUrl)
    });
    xhr.send();    
  })
       
    //讀取所有資料
    function loadTodo(){
      $.getJSON('/api/product/',function(datas){
          // console.log(datas)
          var tb =  $('#todolist>tbody');
          var docFrag = $(document.createDocumentFragment())
          $.each(datas,function(idx,product){
              //a > index
              //b > {}
              var cell0 = $('<td></td>').text(product.productid)
              var cell1 = $('<td></td>').text(product.modelnumber)
              var cell2 = $('<td></td>').text(product.categoryid)
              var cell3 = $('<td></td>').text(product.modelname)
              var cell4 = $('<td></td>').text(product.description)
              var cell5 = $('<td></td>').html('<a href="#"><button class="btn btn-warning"><i class="fas fa-video"></i></button>')
              var cell6 = $('<td></td>').html('<img class="img-thumbnail thumb" src="/media/'+product.productimage+'"/>')
              //<tr><td><td><td>
              var row = $('<tr></tr>').append([cell0,cell1,cell2,cell3,cell4,cell5,cell6])
              //<tbody><tr>
              docFrag.append(row)
          })
          tb.html(docFrag)
      })
    }
    loadTodo();
  })
</script>
{% endblock %}