{% extends "main.html" %}
{% block styles %}
<style>
  body{
    background-image: url("../../static/images/album.jpg")
  }
  .main{
    font-family: 'Ubuntu Mono', '微軟正黑體', monospace;
    padding-top: 20px;
    width:50%;
    margin: auto;
    font-size: 18px
  }
  
  .title{
    padding-top: 80px;
  }
  .form{
    font-family: 'Ubuntu Mono', '微軟正黑體', monospace;
    font-weight: 500;
    /* width:70%; */
    margin: auto;
  }
  label{
    text-align: right;
  }
  #sdk{
    width:40%;
    text-align: center;
    line-height: 80%;
    font-size: 40px;
    margin: auto;
    color:rgb(52, 206, 159);
  }
  #sdk_button{
    width: 100% !important;
  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    width: 30%;
    margin: auto;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  button.btn{
    background-color: rgb(52, 206, 159);
    border-color: rgb(52, 206, 159);
    border-radius: 30px !important;
    width: 150px;
    font-size: 20px !important;
    font-weight: 700;
    line-height: 30px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 3px;
  }
  button.btn:hover{
    background-color: rgb(43, 160, 125);
    border-color: rgb(43, 160, 125);
    transition: all 0.3s linear;
    border-radius: 10px !important;
  }
  #update{
    padding-left: 40%;
  }
  #inputGender{
    margin-top:13px;
    margin-left:10px;
  }
  #update{
    padding-left: 45%;
  }
</style>
{% endblock %}
{% block content %}
<div class="form">
  <div class="title">
    <div id="sdk">
      會員資料更新
    </div>
    <div class="login-or">
      <hr class="hr-or">
    </div>  
  </div>
</div>
<form method="POST">
  <div class="main">
    {% csrf_token %}
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">姓名</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" value="{{member.1}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">密碼</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password"  value="{{member.2}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-form-label">電子郵件</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" value="{{member.3}}">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="inputJob" class="col-sm-2 col-form-label">職業</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputJob" placeholder="Job" name="job" value="{{member.4}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputJob" class="col-sm-2 col-form-label">生日</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="inputBirth" name="birthday" value="{{member.5}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputGender" class="col-sm-2 col-form-label">性別</label>
      <div class="col-sm-5">
          男性<input type="radio"  id="inputGender" name="gender" value="Men">
          女性<input type="radio"  id="inputGender" name="gender" value="Women">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10" id="update">
        <button type="submit" class="btn btn-primary" onclick="show_confirm()">修改</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block scripts %}
<script>
function show_confirm()
{
var r=confirm("確定要變更資料嗎?");
if (r==true)
  {
  alert("資料已變更!");
  window.event.returnValue=true;
  }
else
  {
  alert("資料未變更!");
  window.event.returnValue=false;
  }
}
</script>
{% endblock %}
