{% extends "main.html" %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
  body{
    background-image: url("/media/chatbotbg.jpg");
    color:white !important;
  }
  header {
    width:100%;
    height: 10% ;
    margin:auto;
    text-decoration:none;
    color: white;
    background-color: rgba(22, 22, 22,0.6) !important;
  }
  form{
    margin-left: 80px;
  }
  .thumb{
      width:75px;
  }
  .bot{
    width:500px;
  }
  #img_captcha{
    width:65px;
    border-radius: 5px;
  }
  #btn_captcha{
    margin-top: 10px;
    margin-left: 3px;
    border-radius: 5px;
    padding: 5px;
    width: 35px;
    color: white;
    background-color: rgb(52, 206, 159);
    border:2px solid white;
  }
  #btn{
    background-color: rgb(52, 206, 159);
    border-color: rgb(52, 206, 159);
    border-radius: 30px;
    width: 140px;
    color: rgb(255, 255, 255);
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 3px;
  }
  #btn:hover{
    background-color: rgb(43, 160, 125);
    border-color: rgb(43, 160, 125);
    transition: all 0.3s linear;
    border-radius: 10px;
  }
</style>
{% endblock %}
{% block content %}
   <div style="margin:0 auto" class="row">
     <div class="col-md-4">
        <table id="todolist" class="table  table-responsive">
          <thead>
             <tr><th>ID</th><th>編號</th><th>性別</th><th>姓名</th><th>FUSIC CHATBOT</th></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
     </div>

     <div class="col-md-5">
        <table id="chatbot" class="table  table-responsive">
          <thead>
             <tr><th>FUSIC CHATBOT(滑鼠請移到照片)</th></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
     </div>

     <div class="col-md-3">
        <form role="form" method="POST">
                {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" id="inputLogin" placeholder="管理員帳號" name="login">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="管理員密碼" name="password">
          </div>
          <div class="form-group">
            <input type="text" name="captcha" id="captcha" placeholder="驗證碼" class="form-control" >
            <img id="img_captcha" src="/donate/captcha"><button id="btn_captcha" type="button"><i class="fas fa-redo-alt"></i>
            </button>
          </div>
          <div class="btn">
            <label class="remember"><input type="checkbox" name="remember" value="True">Remember me</label>
          </div>
          {% if request.COOKIES.nameadm %}
          <label>管理員已登入</label>
          <button type="button" id="buttonLI" class="btn btn-warning"><a href="/donate/siteadm/" style="color: white">CHATBOT管理區</a></button>
          <button type="button" id="buttonLO" class="btn btn-danger"><a href="/donate/logout/" style="color: white">管理員登出</a></button>
          {% else %}
          <button type="submit" id="btn" class="btn btn btn-primary">管理員登入</button>
          {% endif %}
        </form>
        <hr>
        <button type="button" id="button00" class="btn btn-dark">FUSIC 即時新聞更新<br>(FROM APPLE NEWS)</button>
        <br>
        <button type="button" id="button10" class="btn btn-info">第01-10則</button>
        <button type="button" id="button20" class="btn btn-info">第11-20則</button>
        <table id="newslist" class="table  table-responsive">
          <thead>
          <tr><th>時間</th><th>分類</th><th>標題</th></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>  

{% endblock%}

{% block scripts%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
<script src="/static/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function(){
  //加驗證碼
  $('#btn_captcha').click(function () {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/donate/captcha/");
    xhr.responseType = "arraybuffer";
    xhr.addEventListener("load",function(event) {
      var blob = new Blob([xhr.response], {type: "image/png"});
      var imageUrl = window.URL.createObjectURL(blob);   
      $('#img_captcha').attr('src',imageUrl)
    });
    xhr.send();    
  })
       
    //讀取主人資料
    function loadTodo(){
      $.getJSON('/api/product/',function(datas){
          var tb =  $('#todolist>tbody');
          var docFrag = $(document.createDocumentFragment())
          $.each(datas,function(idx,product){
              var cell0 = $('<td></td>').text(product.productid)
              var cell1 = $('<td></td>').text(product.modelnumber)
              var cell2 = $('<td></td>').text(product.categoryid)
              var cell3 = $('<td></td>').text(product.modelname)
              var cell4 = $('<td></td>').html('<img class="img-thumbnail thumb" src="/media/'+product.productimage+'"/><br>'+product.description)
              //<tr><td><td><td>
              var row = $('<tr></tr>').append([cell0,cell1,cell2,cell3,cell4])
              //<tbody><tr>
              docFrag.append(row)
          })
          tb.html(docFrag)
      })
    }
    loadTodo();

  function loadNews(id1,id2){
        $.getJSON('/donate/apnews/',function(apnewsall){
          var tb =  $('#newslist>tbody');
          var docFrag = $(document.createDocumentFragment())
          $.each(apnewsall,function(idx,apnewse){
            if (idx>=id1 & idx < id2){
              apnews=apnewse.fields
              // console.log(apnews)
              var cell0 = $('<td></td>').text(apnews.time)
              var cell1 = $('<td></td>').text(apnews.category)
              var cell2 = $('<td></td>').html('<a target="blank" href="'+apnews.link+'" style="color: white">'+apnews.title+'</a>')
              //<tr><td><td><td>
              var row = $('<tr></tr>').append([cell0,cell1,cell2])
              //<tbody><tr>
              docFrag.append(row)
            } 
          })
          tb.html(docFrag)
      })
    }
  loadNews(0,10);

  $('#button00').click(function () {
    loadNews(0,10);
    })

  $('#button10').click(function () {
    loadNews(0,10);
    })

  $('#button20').click(function () {
    loadNews(10,20);
    })


    $('#todolist>tbody').on('mouseover','td:nth-child(5)',function(){
         var productid = $(this).parents('tr').find('td:nth-child(1)').text();
         $.ajax({
                url:'/api/product/' + productid + '/',
                type:'GET'
            }).done(function(data){
              var tb =  $('#chatbot>tbody');
              var docFrag = $(document.createDocumentFragment());
              var cell0 = $('<td></td>').html('<img class="img-thumbnail chatbot" src="/media/'+data.productimage+'"/><br>'+data.description)
              var row = $('<tr></tr>').append([cell0])
              docFrag.append(row)
              tb.html(docFrag)
            })



        }
      )    
})

</script>
{% endblock%}