<style>
  footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:absolute;
    bottom:3px;
    height:50px;
    right:0px;
    overflow:hidden;
    width:100%;
    margin:auto;
    text-align: center;
  }
  footer.container {
      color:white;
  }
  .logo{
    font-style: italic;
    font-weight: 700;
    font-size: 1.2em;
  }
</style>
<footer>
  <p>Copyright © 2018 <span class="logo">fusic</span> All Rights Reserved.</p>
</footer>