<link href="../../static/styles/main.css" rel="stylesheet" />
<header class="container mb-2">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home:welcome' %}" >EMO<span>.</span></a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav" style="float: right">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:index' %}">Index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'music:music' %}">Music</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:makefriends' %}">Friends</a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'member:register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:login' %}">Log in</a>
        </li>
      </ul>
    </div>
  </nav>
</header>