{% extends "main.html" %}
{% block styles %}
<style>
    td{
        color:white
    }
</style>
{% endblock %}
{% block content %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"> -->
<div class="row" >
    <div class="col-md-9">
    <table id="Friends_Chatlist" class="table table-bordered">
       <thead class="table-info">
            <tr style="color:black">
               <th scope="col">編號</th>
               <th scope="col">會員編號</th>
               <th scope="col">訊息</th>
               <th scope="col">訊息更新紀錄</th>
               <th scope="col">編輯</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
    <div class="col-md-3">
        <form>
            <div class="form-group">
                <label for="InputMemberId">MemberId</label>
                <input type="text" class="form-control" id="InputMemberId" placeholder="Enter MemberId">     
            </div>
            <div class="form-group">
                <label for="InputMessage">Message</label>
                <input type="text" class="form-control" id="InputMessage" placeholder="Enter Message">
            </div>
            <div class="form-group">
                <label for="InputMessageUpdate">MessageUpdate</label>
                <input type="text" class="form-control" id="InputMessageUpdate" placeholder="Enter MessageUpdate">
            </div>          
                <button type="button" id="buttonSubmit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock%}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function(){

    //jquery 新增資料
    $('#buttonSubmit').click(function(){    
        var datas = {
           "memberId": $('#InputMemberId').val(),
           "messages": $('#InputMessage').val(),
           "messagesUpdate": $('#InputMessageUpdate').val(),
        };

    $.post('/api/Friends_Chat/',datas,function(data){
        $('#InputMemberId').val('')
        $('#InputMessage').val('')
        $('#InputMessageUpdate').val('')
            loadMessage()
        })
    })

    //讀取所有資料
    function loadMessage(){
        $.getJSON('/api/Friends_Chat',function(datas){
            // console.log(datas)
            var tb =  $('#Friends_Chatlist tbody');
            var docFrag = $(document.createDocumentFragment())
            $.each(datas,function(idx,product){
                //a > index
                //b > {}
                var cell1 = $('<td></td>').text(datas[idx].id)
                // console.log(datas[idx].id)
                // ============== "contenteditable" 屬性 -> 可直接修改欄位 Chrome瀏覽器 ==========================
                var cell2 = $('<td></td>').text(datas[idx].memberId).attr('contenteditable','true')   
                var cell3 = $('<td></td>').text(datas[idx].messages).attr('contenteditable','true')
                var cell4 = $('<td></td>').text(datas[idx].messagesUpdate).attr('contenteditable','true')
                var cell5 = $('<td></td>').html('<button class="btn btn-danger"><i class="far fa-trash-alt"></i></button><button class="btn btn-primary"><i class="fas fa-user-edit"></i></button>')
                //<tr><td><td><td>
                var row = $('<tr></tr>').append([cell1,cell2,cell3,cell4,cell5])
                //<tbody><tr>
                docFrag.append(row)
            })
            tb.html(docFrag)
        })
    }
    
    loadMessage()
    //讀取單筆資料
    // $.getJSON('/api/todo/1',function(todo){        
    //     console.log(todo.id)
    //     console.log(todo.title)
    //     console.log(todo.text)        
    // })

    // $('#todolist td>button:nth-child(1)').click(function(){
    //     alert('click')
    // })

    $('#Friends_Chatlist>tbody').on('click','button:nth-child(1)',function(){
        var id = $(this).parents('tr').find('td:nth-child(1)').text()
        //刪除資料
        $.ajax({
            'url':'/api/Friends_Chat/' + id + '/',
            'type':'DELETE'
        }).done(function(data){
            loadMessage();
            alert("刪除成功");
        })
    })

    $('#Friends_Chatlist>tbody').on('click','button:nth-child(2)',function(){
        var id = $(this).parents('tr').find('td:nth-child(1)').text()
        var memberId = $(this).parents('tr').find('td:nth-child(2)').text()
        var messages = $(this).parents('tr').find('td:nth-child(3)').text()
        var messagesUpdate = $(this).parents('tr').find('td:nth-child(4)').text()
        var datas = {
            "memberId":memberId,
            "messages": messages,
            "messagesUpdates": messagesUpdate
        };
        //修改資料
        $.ajax({
            'url':'/api/Friends_Chat/' + id + '/',
            'type':'PUT',
            'data':datas
        }).done(function(data){
               if(data == "1"){
                   //重新載入
                   clearInput();
                   loadMessage();
                }
                alert("修改成功");
            })
        })

        function clearInput(){
            $(':input').each(function(){
            $(this).val('');
            $('#id').val(0);
            })
        }
})
</script>
{% endblock %}