{% extends "main.html" %}
{% load static %}
{% block styles %}
<style>
body{
        background-image: url("../../static/images/album.jpg")
}
header {
    margin:auto;
    text-decoration:none;
    color: white;
    background-color: rgba(22, 22, 22,0.6) !important;
}
footer{
    color:white;
    font-size: 16px;
}
/* boostnipp chat room */
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 20px;
}

  .chat li.right .chat-body
{
    margin-right: 60px;
} 


.chat li .chat-body p 
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 700px;
    width: 500px;
}

.panel-primary
{
    width: 500px;
}

.panel-footer
{
    width: 500px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


/* lightbox */
/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

/* for zoom animation 
uncomment this part if you haven't added this code anywhere else 

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}*/


/* message對話框 */
.mwt_border{
    width:150px;
    height:30px;
    text-align:center;
    background:#fff;
    position:relative;
    border: solid 1px #333;
    margin:30px;
    padding:30px;
}
/*箭頭右*/
.mwt_border .arrow_r_int{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent transparent transparent #333;
    position:absolute;
    top:20%;
    right:-30px;
}
/*箭頭右-邊框*/
.mwt_border .arrow_r_out{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent transparent transparent #fff;
    position:absolute;
    top:20%;
    right:-29px;
}

/*箭頭左*/
.mwt_border .arrow_l_int{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent #333 transparent  transparent ;
    position:absolute;
    top:20%;
    left:-30px;
}
/*箭頭左-邊框*/
.mwt_border .arrow_l_out{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent #fff transparent transparent ;
    position:absolute;
    top:20%;
    left:-29px;
}

/*箭頭上*/
.mwt_border .arrow_t_int{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent transparent #333 transparent ;
    position:absolute;
    top:-30px;
    left:40px;
}
/*箭頭上-邊框*/
.mwt_border .arrow_t_out{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent transparent #fff transparent ;
    position:absolute;
    top:-29px;
    left:40px;
}

/*箭頭下*/
.mwt_border .arrow_b_int{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:#333 transparent transparent transparent ;
    position:absolute;
    bottom:-30px;
    right:50px;
}
/*箭頭下-邊框*/
.mwt_border .arrow_b_out{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:#fff transparent transparent transparent ;
    position:absolute;
    bottom:-29px;
    right:50px;
}

</style>
{% endblock %}

{% block content %}
    <!-- 聊天即時訊息(id, time) -->
    <!-- 交友聊天室 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <div class="container"> 
        <!-- {% csrf_token %}  method="POST" enctype="multipart/form-data" -->
    <div class="row align-items-start">
<!-- bootstrap chat title & select botton-->
    <div class="col-sm-4 col-md-offset-0">
<!-- lightbox & boostrap card-->
    <div class="card" style="width: 35rem;">
        <a class="image-popup-no-margins" href="../../static/images/singer_donate.jpg" title="donate">
        <img class="card-img-top" src="../../static/images/singer_donate.jpg" width="400" height="300" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Donate</h5>
            <p>This is my Big brother * Alan's * template (the card's content).</p>
            <a href="{% url "donate:index" %}" class="btn btn-primary" data-toggle="tooltip" title="Alan's template">Go Donate</a>
        </div>
        </div><hr class="col-md-12">
        <div class="col-md-offset-6">
        <a href="{% url "makefriends:api_message" %}" class="btn btn-primary" id="donate1" data-toggle="tooltip" title="music chat">聊天資料庫</a>
        </div><hr class="col-md-12">
    <div class="card" style="width: 35rem;">
        <a class="image-popup-no-margins" href="../../static/images/music_music.jpg" title="music">
        <img class="card-img-top" src="../../static/images/music_music.jpg" width="400" height="300" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Music</h5>
            <p>This is my brother * Mao's * template (the card's content).</p>
            <a href="{% url "donate:index" %}" class="btn btn-primary" data-toggle="tooltip" title="Mao's template">Go Music</a>
        </div>
        </div><hr class="col-md-12">
        <div class="col-md-offset-6">
        <a href="{% url "makefriends:message_update" %}" class="btn btn-danger" id="music2" data-toggle="tooltip" title="small talk">編輯聊天</a>
        </div> 
    </div>
    <div class="col-md-5 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span> Chat Room
                    <div class="btn-group pull-right">
                        <a style="color:rgb(31, 11, 211)" href="https://www.facebook.com/"><span class="glyphicon glyphicon-ok-sign"></span>Facebook</a>
                        <a style="color:rgb(67, 209, 24)" href="https://www.youtube.com/"><span class="glyphicon glyphicon-ok-sign"></span>Youtube</a> 
                        <!-- <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>  
                        <ul class="dropdown-menu slidedown">
                            <li><a href="https://www.facebook.com/">
                                <span class="glyphicon glyphicon-refresh"></span>
                                Facebook</a></li>
                            <li><a href="https://www.youtube.com/user/dimit28">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                                Youtube</a></li>
                            <li><a href="{% url "music:music" %}">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                                fusic Music</a></li>
                            <li><a href="{% url "donate:index" %}">
                                <span class="glyphicon glyphicon-ok-sign">
                                </span>
                                donate</a></li>
                        </ul>  -->
                    </div> 
                </div>
    <div class="panel-body">
        <ul class="chat"></ul>
        <div id="chat" class="alert alert-primary" style="height:50px;text-align:center;">wellcom to fusic chat room</div>
        <textarea type="text" name="message" id="outputMessage" class="md-textarea form-control" rows="36" placeholder="Please enter a chat conversation"></textarea>
    </div>
        <div class="panel-footer">
            <div class="input-group">
                <input id="InputMessage" type="text" maxlength="100" class="form-control input-sm" placeholder="input your message"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-warning btn-sm" id="btnSend">
                            Send
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" id="btnClean">
                            Clean
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <hr class="col-md-12">
        <div class="col-md-12" id="nav">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-tab-1" data-toggle="pill" href="#tab1" role="tab" aria-controls="pills-home" aria-selected="true">Chatbot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tab-2" data-toggle="pill" href="#tab2" role="tab" aria-controls="pills-profile" aria-selected="false">Description</a>
                </li>
            </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-content1" role="tabpanel" aria-labelledby="pills-home-tab">Home</div>
            <div class="tab-pane fade" id="pills-content2" role="tabpanel" aria-labelledby="pills-profile-tab">A web chat is a system that allows users to communicate in real time using easily accessible web interfaces. It is a type of Internet online chat distinguished by its simplicity and accessibility to users who do not wish to take the time to install and learn to use specialized chat software. This trait allows users instantaneous access and only a web browser is required to chat. Users will always get the latest version of a chat service because no software installation or updates are required.</div>
        </div>
        </div> 
        <hr class="col-md-12">
        <div class="col-md-12 col-md-offset-1" id="webchat">
            <!-- <iframe src='https://webchat.botframework.com/embed/maoBot?s=JcIKINeI66g.cwA.G2k.8k7PW7RH-QX4CqDlFbZ5NNiyZvBfipA8tT5nUFVL1uA'></iframe> -->
        </div>
        
    </div>
</div>
</div>
    <hr>
{% endblock %} 

{% block scripts %}
<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<!-- Magnific Popup core JS file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!-- chatbot -- 內嵌程式碼 -->
<script src="https://cdn.botframework.com/botframework-webchat/preview/botchat.js"></script>

<script>
// ================== Chat room control js =====================
    $(document).ready(function(){

        function setDate(){
            time = new Date()
            var hours = time.getHours();
            var minutes = time.getMinutes();
            var seconds = time.getSeconds();
            times =  hours + ":" + minutes + ":" + seconds;
            return times;
        }

        // // jquery send message
        // $('#btnSend').click(function(){
        //     // var userid = $('').val();
        //     var messages = $('#inputMessage').val();
        //     var messagesUpdate = setDate();
        //     // 顯示對話訊息
        //     $.get('/makefriends/send/'+ messagesUpdate +'/',{"messages":messages},function(datas){
        //         $('#outputMessage').html(datas);
        //     })
        // })  
          
        //jquery 新增訊息
        $('#btnSend').click(function(){    
            var datas = {
            "memberId": 1,
            "messages": $('#InputMessage').val(),
            "messagesUpdate": setDate(),
            };
            console.log(datas)
        $.post('/api/Friends_Chat/',datas,function(data){
            $('#InputMemberId').val('')
            // console.log(datas)
            $('#InputMessage').val('')
            setDate()
                loadMessage()
            })
        })

        //讀取所有訊息
        function loadMessage(){
            $.getJSON('/api/Friends_Chat/',function(datas){
                // console.log(datas)
                var tb = $('#outputMessage')
                var docFrag = $(document.createDocumentFragment())
                $.each(datas,function(idx,product){
                    //a > index
                    //b > {}
                    // var cell1 = text(todo.id)
                    var cell1 = $('p').html("<h3>" + datas[idx].memberId + "</h3>")
                    var cell2 = $('p').html("<h3>" + datas[idx].messages + "</h3>")
                    var cell3 = $('p').html("<h5>" + datas[idx].messagesUpdate + "</h5>")
                    var datas = $('<div class="mwt_border"><span class="arrow_l_int"></span><span class="arrow_l_out"></span></div>').html(cell1 + ": " + cell2 + "\n" + cell3)
                    
                })
                if(memberId == memberId){
                    tb.html(docFrag).css("background","lightorange")
                }else{
                    tb.html(docFrag).find("div").css({"background":"lightgreen", "float":"right"}).find("span:eq(0)").toggleClass("arrow_r_int").find("span:eq(1)").toggleClass("arrow_r_out")
                }
            })
        }
        loadMessage()

        // jquery clean message
        $('#btnClean').click(function(){  
            $('#outputMessage').html("");
        })     
        
        // lightbox 
        $('.image-popup-no-margins').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            closeBtnInside: false,
            fixedContentPos: true,
            mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
            gallery: {
                enabled: true
            },
            image: {
                verticalFit: true
            },
            zoom: {
                enabled: true,
                duration: 300 // don't foget to change the duration also in CSS
            }
        })
        
        // Chatbot -- 內嵌程式碼
        // window.WebChat.renderWebChat({
        //     directLine: window.WebChat.createDirectLine({ secret:           'JcIKINeI66g.cwA.G2k.8k7PW7RH-QX4CqDlFbZ5NNiyZvBfipA8tT5nUFVL1uA' })
        // }, 
        // document.getElementById('webchat'));
        
        // boostrap nav control
        $('#pills-tab-1').click(function(e){
            e.preventDefault()
            $('#pills-tab-1 a[href="#tab1"]').tab('show')
        })

        $('#pills-tab-2').click(function(e){
            e.preventDefault()
            $('#pills-tab-2 a[href="#tab2"]').tab('show')
        })

})
</script>
{% endblock %}