{% extends "main.html" %}
{% block content %}
    <!-- <form method="POST" action="/member/login/"> -->
        <form method="POST"">
            {% csrf_token %}
            <div class="form-group row">
                <label for="inputId" class="col-sm-2 col-form-label">會員(Id)</label>
                <div class="col-sm-10">
                 <input type="text" class="form-control" id="inputId" placeholder="Id" name="id" value="{{friends.1}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputId" class="col-sm-2 col-form-label">歷史訊息(message)</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="inputmessage" placeholder="messages" name="messages" value="{{friends.2}}"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputTime" class="col-sm-2 col-form-label">日期時間(DateTime)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputTime" placeholder="DateTime" name="DateTime" value="{{friends.3}}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary"><i class="fab fa-angellist"></i>修改</button>
                </div>
            </div>
        </form>
{% endblock %}